<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<form th:action="@{/additional}" method="POST">
		<hr>
		【1問目】<br>
		貴方はどちらかと言うと…<br>


		<fieldset id="1">
			1人で過ごすのが好き
			<input type="radio" name="q1" value="I"><br>

			誰かと一緒に過ごすのが好き
			<input type="radio" name="q1" value="E"><br>
		</fieldset><br>

		<hr>
		【2問目】<br>
		貴方はどちらかと言うと…<br>

		<fieldset id="2">
			具体的なデータに基づいて行動する。
			<input type="radio" name="q2" value="S"><br>

			直感や感覚で行動する。
			<input type="radio" name="q2" value="N"><br>
		</fieldset><br>

		<hr>
		【3問目】<br>
		貴方はどちらかと言うと…<br>


		<fieldset id="3">
			自分の論理を重視する
			<input type="radio" name="q3" value="T"><br>

			周りの価値観を重視する
			<input type="radio" name="q3" value="F"><br>
		</fieldset><br>


		<!--3問目4問目は１，2問目を参考に書いてみよう-->

		<hr>
		【4問目】<br>
		貴方はどちらかと言うと…<br>


		<fieldset id="4">
			予定や計画を立てることを好む
			<input type="radio" name="q4" value="J"><br>

			流れに身を任せることを好む
			<input type="radio" name="q4" value="P"><br>
		</fieldset><br>

		<hr>

		<input type="submit" value="送信">
	</form>
	<hr>




	<p>【診断結果】 あなたは <span th:text="${MBTI}"></span> です</p>
	<p th:text="${MBTIresult}"></p>
	
</body>

</html>