<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<form th:action="@{/fourthpage}" method="POST">
		名前を入力してね～<br>
		<input type="text" name="param1"><br>
		
		趣味を入力してね～<br>
		<input type="text" name="hobby"><br>
		
		出身を入力してね～<br>
		<input type="text" name="bplace"><br>
		
		<input type="submit" value="送信">
	</form>


	お前の名前は<p th:text="${userName}"></p>だな！<br>
	<br>
	お前の趣味は<p th:text="${userHobby}"></p>だな！<br>
	<br>
	あなたの出身地は<p th:text="${bp}"></p>だね?

</body>

</html>