<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<!--ホーム画面-->
	<div>

		<h4>操作を入力してください</h4>
		<form th:action="@{/zasekiyoyaku}" method="POST">

			<select class="input-field" name="operation">
				<option value="予約">予約</option>
				<option value="まとめて予約">まとめて予約</option>
				<option value="参照">参照</option>
				<option value="取消">取消</option>
				<option value="並び変えて表示">並び変えて表示</option>
			</select>

			<input type="submit" value="送信">
		</form>
	</div>
	<!--ホーム画面-->




	<!--「予約」が入力された場合-->
	<th:block th:if="${op == '予約'}">

		<h4>予約したい座席番号を1～10で入力してください</h4>

		<form th:action="@{/zasekiyoyaku}" method="POST">
			<input type="text" name="yoyakunumber"><br>
			<input type="submit" value="送信">
		</form>

	</th:block>



	<!--「参照」が入力された場合-->
	<th:block th:if="${op == '参照'}">

		<h5>現在の予約済み</h5>
		＜予約済み番号＞

		<ul>
			<li th:each="item : ${resultlist}" th:text="${item}"></li>
		</ul>

	</th:block>


	<!--「まとめて予約」が入力された場合-->
	<th:block th:if="${op == 'まとめて予約'}">

		＜まとめて予約＞
		<form th:action="@{/zasekiyoyaku}" method="POST">
			予約する番号を2つ入力してね（1～10)
			<input type="text" class="input-field" name="matomeyoyaku1">
			<input type="text" class="input-field" name="matomeyoyaku2">
			<input type="submit">
		</form>

	</th:block>



	<!--「取消」が入力された場合-->
	<th:block th:if="${op == '取消'}">

		＜取消＞
		<form th:action="@{/zasekiyoyaku}" method="POST">
			取り消す「予約する番号」を入力してね（1～10)
			<input type="text" class="input-field" name="torikesi">
			<input type="submit">
		</form>

	</th:block>



	

	<!--「並び変えて表示」が入力された場合-->
	<th:block th:if="${op == '並び変えて表示'}">

		<h5>現在の予約済み</h5>
		＜予約済み番号＞

		<ul>
			<li th:each="item : ${resultlist}" th:text="${item}"></li>
		</ul>

	</th:block>


</body>

</html>