body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.input-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}